body{
font-family: Arial;
background:#f6f7f9;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card{
background:white;
padding:40px;
border-radius:8px;
width:400px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
text-align:center;
}

.checkbox{
font-size:18px;
display:block;
margin-top:20px;
}

#status{
margin-top:20px;
color:#666;
}
